@use '../../_variables' as v;

// Extra small devices
@mixin xs {
  @media (min-width: #{v.$screen-xs-min}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{v.$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{v.$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{v.$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{v.$screen-xl-min}) {
    @content;
  }
}

.ui-footer {
  @include xs {
    height: 48px;
    > .ui-footer__logo-wrapper {
      > .ui-footer__logo {
        height: 32px;
        //border-radius: 16px;
      }
    }
    > .ui-footer__text-wrapper {
      > .MuiTypography-root {
        font-size: x-small;
      }
    }
  }
  @include md {
    height: 80px;
    > .ui-footer__logo-wrapper {
      > .ui-footer__logo {
        height: 64px;
        //border-radius: 32px;
      }
    }
    > .ui-footer__text-wrapper {
      > .MuiTypography-root {
        font-size: smaller;
      }
    }
  }
  padding: 24px;
  margin-bottom: 16px;
  > .ui-footer__logo-wrapper {
    margin-bottom: 8px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-end;
  }
  > .ui-footer__text-wrapper {
    > .MuiTypography-root {
      color: v.$color-secondary;
    }
  }
}
