$color-main: rgb(252, 212, 52);
$color-secondary: rgb(40, 38, 33);
$color-secondary-highlight: rgb(53, 51, 45);

$font-family-main: 'IBM Plex Mono', sans-serif;

// Small tablets and large smartphones (landscape view)
$screen-xs-min: 0px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 900px;

// Tablets and small desktops
$screen-lg-min: 1200px;

// Large tablets and desktops
$screen-xl-min: 1536px;
